.Panel{
 width: 25em;
 height: 100vh;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 5;
 background-color: #fff; 
 overflow-y: auto;

 .top{
  display: flex;

  .logo{
    width: 5em;
    padding: .25em;
   } 
  .title{
    flex: 1;
  }
 }

 .info{
  padding: .5em;
 
  .item{
    position: relative;
    padding: 1.5em .25em .25em .25em;
    background-color: #9fd5b3;
    margin-bottom: 1.5em;

    span{
     background-color: #f5c02f;
     padding: .25em;
     position: absolute;
     top: -.5em;
    }
  }
 }
}