.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-areas: "header header" "search search" "map map" "sign-up poll" "council wccc" "wcc police" "state-senate congress"; }

.header {
  height: 3em;
  grid-area: header;
  background: #004445;
  display: flex; }
  .header img {
    width: 3em; }
  .header div {
    display: flex;
    flex: 1;
    color: #fff;
    font-weight: bold; }
    .header div span {
      margin: auto; }

#geocoder {
  grid-area: search; }

.Map {
  grid-area: map;
  height: 35vh; }

.poll {
  grid-area: poll; }

.sign-up {
  grid-area: sign-up; }

.police {
  grid-area: police; }

.wccc {
  grid-area: wccc; }

.wcc {
  grid-area: wcc; }

.state-senate {
  grid-area: state-senate; }

.congress {
  grid-area: congress; }

.item {
  height: 7em;
  padding: .75em;
  background: #feb70d; }
  .item div {
    margin: auto; }
  .item input {
    max-width: 100%;
    border: none;
    padding: .5em; }
  .item button {
    padding: 1em 2em;
    border: none;
    background: #004445;
    color: #fff; }

.item.active {
  border: 0.2em solid rgba(255, 255, 255, 0.5); }
