.App{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: 
    "header header"
    "search search"
    "map map"
    "sign-up poll"
    "state-senate congress"
    "wccc council"
    "wcc police"
}

.header{
    height: 3em;
    grid-area: header;
    background: #004445;
    display: flex;
    
    img{
        width: 3em;
    }

    div{
        display: flex;
        flex: 1;
        color:#fff;
        font-weight: bold;
        span{
            margin: auto;
        }
    }
}

#geocoder{
    grid-area: search;
}

.Map{
    grid-area: map;
    height: 40vh;
}

.poll{
    grid-area: poll;
}

.sign-up{
    grid-area: sign-up;
}

.police{
    grid-area: police;
}

.wccc{
    grid-area: wccc;
}

.wcc{
    grid-area: wcc;
}

.state-senate{
    grid-area: state-senate
}

.congress{
    grid-area: congress;
}

.item{
    min-height: 10em;
    font-size: .85em;
    padding: .75em;
    background: #feb70d;
    // display: flex;

    div{
        margin: auto;
    }

    input{
        max-width: 100%;
        border: none;
        padding: .5em;
    }

    button{
        padding: 1em 2em;
        border: none;
        background: #004445;
        color: #fff;
    }
}

.sign-up{
    .box{
        position: relative;

        .phone-valid-alert, .phone-invalid-alert{
            display: none;
            position: absolute;
            top: 0;
            padding: 1em 1.25em 1em .5em;
        }

        .phone-valid-alert.active{
            display: block;
            background: #9fd5b3;
        }

        .phone-invalid-alert.active{
            display: block;
            background: #fd9a93;
        }

        .close-phone-validation-alert{
            position: absolute;
            top: -.25em;
            right: -.25em;
            background: #fff;
            color: #f44e42;
            font-size: 1.5em;
            font-weight: bold;
            padding: .05em .4em;
        }
    }
}

.item.active{
    border: .2em solid rgba(255,255,255,.5);
}
// -----------------------------------------------------------------------------
// NOTE: Media queries
// -----------------------------------------------------------------------------
@media all and (min-width: 750px) {
    .Map{
        height: 45vh;
    }
    .item{
        min-height: 7em;
    }
}
@media all and (min-width: 950px) {
    .header{
        height: 5em;

        img{
            width: 5em;
        }

        span{
            font-size: 2em;
        }
    }
    .Map{
        height: 47vh;
    }
    .item{
        min-height: 7em;
    }
    .App{
        grid-template-columns: 33.33334%;
        grid-template-areas: 
        "header header header"
        "search search search"
        "map map map"
        "sign-up sign-up poll"
        "congress state-senate council"
        "wccc wcc police"
    }
    .sign-up{
        display: flex;

        .box{
            margin: auto;
        }

        input{
            padding: 1em;
        }
    }
}